<app-default-login-layout 
title = "Sign in and start today!"
primaryBtnText = "Sign up now"
secondaryBtnText = "Login now"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!signupForm.valid"
>
    <form  [formGroup]="signupForm">

        <app-primary-input
        formControlName="name"
           inputName="name"
           type="text"
           label="Your name"
           placeHolder="johndoe"
        >
            <img src="email-icon.svg" />
        </app-primary-input>

        <app-primary-input
        formControlName="email"
           inputName="email"
           type="email"
           label="Email"
           placeHolder="johndoe@email.com"
        >
            <img src="email-icon.svg" />
        </app-primary-input>

        <app-primary-input
        formControlName="password"
           inputName="password"
           type="password"
           label="Your Password"
          
        >
            <img src="password-icon.svg" />
        </app-primary-input>

        <app-primary-input
        formControlName="passwordConfirm"
           inputName="passwordConfirm"
           type="password"
           label="Confirm your Password"
          
        >
            <img src="password-icon.svg" />
        </app-primary-input>

        
    </form>
</app-default-login-layout>
