<main>
    <section class="form-section">
        <img src="Component.svg"/>
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>
        <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
        </div>
        <button class="btn-secondary">{{secondaryBtnText}}</button>
        </div>
        

    </section>
    <section class="main-section">
        <h1>You should,moveIt!</h1>
        <img src="Delivery.svg"/>
    </section>
</main>

// link
//https://www.youtube.com/watch?v=6qbuuPM_de4&t=1401s
